.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	top: 0;
	left: 0;
	overflow: hidden;

	z-index: $modal-index;
	display: flex;
	justify-content: center;
	align-items: center;


	&__content {
		width: 45rem;
		height: auto;
		padding: 2.4rem;
		background: $modal-bg;
		display: flex;
		flex-flow: column;
		border-radius: .4rem;
	}

	&__title {
		font-size: $heading-2-size;
		line-height: $modal-header-lh;
		margin-bottom: 0.5rem;
		@include text-truncattion();
	}

	button {
		margin-top: 3.3rem;
		margin-left: auto;
	}
}