.register {
	margin: 9.5rem 0 18rem;
	padding-top: 8rem;
	text-align: center;
	position: relative;

	&::after {
		content: "";
		display: block;
		width: 97rem;
		height: 17.7rem;
		position: absolute;
		bottom: -18rem;
		height: 18rem;
		z-index: 0;

		transform: translateX(68.8rem);
		background-image: url('../../images/footprint-972x177.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0 .4rem;
	}

	&__title {
		font-size: $heading-1-size;
		line-height: $heading-1-lh;
		// @include text-truncattion();
	}

	&__subtitle {
		font-size: $heading-2-size;
		line-height: $heading-2-lh;
		margin-top: 1rem;
		// @include text-truncattion();
	}

	&__form {
		width: 38rem;
		margin: 0 auto;
		display: flex;
		flex-flow: column;
		margin-top: 3.2rem;
		text-align: left;
		font-family: $font-body;

		.button {
			margin: 0 auto;
		}
	}

	&__inputs {
		margin-bottom: 4.9rem;
		width: 100%;

		> div:not(:last-child) {
			margin-bottom: 5rem;
		}
	}

	&__radio {
		margin-top: -0.8rem;
		margin-bottom: 4.6rem !important;
	}

	&__file {
		position: relative;
	}
}
