.cheerful {
	@include breakpoint($bp-lg) {
		&__list {
			gap: 2.9rem;
		}
	}

	@include breakpoint($bp-md) {
		&__list {
			gap: 1.6rem;
		}
	}
	@include breakpoint($bp-sm) {
		&__list {
			gap: 2rem;
		}
	}
}